appdirs==1.4.3
distlib==0.3.0
filelock==3.0.12
importlib-metadata==1.6.0
pbr==5.4.5
pyobjc-core==6.2
pyobjc-framework-Cocoa==6.2
rumps==0.3.0
six==1.14.0
stevedore==1.32.0
virtualenv==20.0.20
virtualenv-clone==0.5.4
virtualenvwrapper==4.8.4
zipp==3.1.0
